body {
    height: 100vh;
    max-width: 100%;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 40%;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid rgb(158, 158, 135);
    box-shadow: 3px 3px 10px;
}

footer {
    margin-top: 30px;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

#error {
    width: 100%;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }